---
import PageLayout from "../layouts/PageLayout.astro";

---


     <PageLayout>
        <article class="article">
        <h1>The Greenlandic House </h1>
        <h3>The Greenlandic House in Copenhagen is a cultural meeting place that creates connections between Greenland and Denmark.</h3>
        <img src="/public/images/DGH_1.webp" alt="dgh copenhagen">
        <h2>What is the greenlandic house?</h2>
        <p>The Greenlandic house in Copenhagen functions as a platform for dialogue, exchange and cultural activity, hosting exhibitions, talks and events that highlight Greenlandic art, history and contemporary perspectives.

The house plays an important role in making Greenlandic voices visible within a Danish context. As both an institution and a social space, it offers room for conversations about shared histories, identity and the ongoing relationship between Greenland and Denmark.
</p>

<img src="/images/DGH_2.webp" alt="dgh">
<h2>A place to find refuge and inspiration
</h2>

<p>As part of Creative Escape, The Greenlandic House is presented through a short-form video combining interview excerpts with visual impressions from the space. The video focuses on the house as a living cultural institution rather than a traditional destination, emphasising presence, encounter and everyday activity.</p>
<p>The video forms part of Creative Escape’s broader exploration of culture and place, using digital storytelling to invite viewers to engage with spaces that hold cultural and social significance within the city.


</p>

<img src="/images/DGH_3.webp" alt="dgh exterior">
<h2>The video can be experienced on Creative Escape’s social media platforms.</h2>


        </article>

</PageLayout>