---
import "../Styles/style.css";
import Navigation from "../components/Navigation.astro";
import Card  from "../components/Card.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex,nofollow">
		<title>Creative Escape</title>
	</head>
	<body>
		<Navigation/>
		<header>

		</header>
		<section>

		 </section>

		  <section>

			<div class="grid_1_1fr_1_2fr">
				<div class="flex_one_column">
<Card img="/images/nina_image2.webp" alt="the greenlandic house" tag="Local CRTV" text="Explore Our Creative Universe"/>
<Card img="/images/DGH_1.webp" alt="the greenlandic house" tag="Hidden Free Gem" text="Explore Our Creative Universe"/>
<Card img="/images/herstedhoje.webp" alt="the greenlandic house" tag="Local CRTV" text="Explore Our Creative Universe"/>

</div>
<Card variant="featured" img="/images/landic_3.webp" alt="the greenlandic house" tag="Local CRTV" text="Landic Project: Traces of Greenland in Copenhagen"/>
</div>
		 </section>

		 <section>

			<div class="grid_3_1fr">
<Card img="/images/Screenshot 2025-12-18 at 15.56.09.webp" alt="the greenlandic house" tag="Local CRTV" text="Explore Our Creative Universe"/>
<Card img="/images/landic_2.webp" alt="the greenlandic house" tag="Hidden Free Gem" text="Explore Our Creative Universe"/>
<Card img="/images/Screenshot 2025-12-18 at 15.59.20.webp" alt="the greenlandic house" tag="Local CRTV" text="Explore Our Creative Universe"/>
			</div>
		 </section>
	</body>
</html>
